@model ACKCMS.Models.Accreditation
@{
    ViewBag.Title = "Acreditación exitosa";
}

<div class="wrapper style2">
    <section class="container">
        <div class="row double">
            <div class="2u">
                <img src="@Url.Content("~/images/tick.png")" style="width: 100%;" />
            </div>
            <div class="6u">
                <h3>Muchas gracias</h3>
                <h4>Su acreditación fue registrada con éxito bajo el número de transacción #@Model.id</h4>
                <hr />
                <h4>Formas de pago</h4>
                <p> <img src="~/images/tick.png" style="width: 20px;" /> <strong>Cheque propio</strong>: emitido a nombre de Universidad Nacional del Litoral “no a la orden” y “cruzado”.</p>
                <p>
                    <img src="~/images/tick.png" style="width: 20px;" />
                    <strong>Transferencia bancaria</strong>:
                    Banco Credicoop Suc. 340-Santa Fe
                    CUIT: 30-54667055-0
                    Cuenta Corriente Nro. 597-150-8
                    CBU: 1910340655034059715082
                    En este caso, deberá enviar comprobante por fax al tel: 03496-421037/424558 int. 219 o por e-mail a: serviciosaterceros@fcv.unl.edu.ar indicando el nombre de la persona física o jurídica que efectúa el pago y en concepto de qué realiza.
                </p>
                <p> <img src="~/images/tick.png" style="width: 20px;" /> <strong>Efectivo</strong>: en la Secretaría de Gestión y Finanzas de la Facultad de Ciencias Agrarias de lunes a viernes de 8 a 16 hs. P. Kreder 2805-Esperanza (Santa Fe).</p>
                <p><img src="~/images/information.png" style="width: 20px;"/> <strong>Tel. contacto</strong>: 03496-421037 int. 220.
                </p>
                <br/>
                <input type="button" value="Imprimir esta información" onclick="window.print()"/>
            </div>
        </div>
    </section>
</div>